body {
    background-image: url(../imagem/bg-repeat.jpg);
    background-size: contain;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 0 60px;
    height: 100vh;
    gap: 30px;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;

    max-width: 400px;
}

.description h1 {
    font-size: 25px;
    font-weight: 900;
    color: #FFFFFF;
    text-transform: uppercase;
    line-height: 24px;
    margin-bottom: 20px;
}

.description p {
    color: #FFFFFF;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 20px;
    width: 350px;
    max-height: 380px;

    background-color: #FFFFFF;
    border-radius: 5px;
}

form input, textarea {
    max-width: 300px;
    height: 35px;

    font-weight: 700;

    margin-top: 18px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

form textarea {
    height: 100px;
}

::placeholder {
    color: #A8A8A8;
    padding: 2px;
}

span {
    margin-top: 12px;
    margin-bottom: 20px;

    font-size: 15px;
    color: #000000;
}

button {
    max-width: 300px;
    height: 41px;
    color: #FFFFFF;

    background-color: #3CCC87;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}